# markdown
## markdown
###### markdown

# Markdown
## Markdown
#### Markdown
###### Markdown

### For italic and bold
* point 1*
 ** point 2**
 ***point 3***

### for italicand bold
* line1*
**line2**
***line3***

* normal text
 * subtext1
 * subtext2

![image](https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQj6o1zGbz0C_OQLt0PxvEED4TCeBSreWsfYR2NZ7XyuLOpD1cO)

* [1]
[1](https://drive.google.com/drive/my-drive)

In [2]:
print("hello Gitam")
print("Hii")

hello Gitam
Hii

In [3]:
print("Hello Gitam",end="|||")
print("Good morning")

Hello Gitam|||Good morning

# Assignment

In [ ]:
a =10 # single variable assignment
a, b, c = 1 # Multi Variable Assignment
a, b, c = 1,2,3 # Multi Variable Assignment with different variables

In [6]:
a= "Python"
b= "p"
type(a)
c = 10
type(c)

int

In [7]:
a = 10.5
print(type(a))
id(a)

<class 'float'>

58525936

In [8]:
a = 10
b=10
print(id(a))
id(b)

2006702464

2006702464

In [9]:
name="abc"
age="10"
print("my name is",name,"my age is",age)

my name is abc my age is 10

In [10]:
a = b = 20 # Multi Variable Assignment with Single Variable

In [11]:
a

20

In [12]:
b

20

In [14]:
a = input("Enter a string")
type(a)

Enter a stringpython

str

In [15]:
b=input("Enter a number")
type(b)

Enter a number12345

str

In [16]:
c = int(input("Enter a number"))
type(c)

Enter a number12345

int

In [19]:
d = float(input("Enter a number"))
type(d)

Enter a number12.3

float

In [18]:
a = int(input("Enter a number"))
b = int(input("Enter a number"))
c = a+b
print(c)

Enter a number2
Enter a number5
7

In [20]:
# Fundamental Datatypes
# list
# float
# complex
# boolean
# string

In [21]:
x = 10
print(x)
type(x)

10

int

In [22]:
y = 1.2
print(y)
type(y)

1.2

float

In [23]:
z=2+3j
print(z)
type(z)

(2+3j)

complex

In [24]:
x=float(12)
x

12.0

In [25]:
y = complex(2,3)
y

(2+3j)

In [26]:
c1 = 1+2j
c2 = 2+3j
print(c1+c2)
print(c1-c2)
print(c1*c2)

(3+5j)
(-1-1j)
(-4+7j)

In [27]:
a = True
type(a)

bool

In [28]:
b = False
type(b)

bool

In [29]:
a>b

True

In [30]:
True>False

True

In [31]:
# strings
s1 = "abc"
s2 = 'abc'
print(s1)
s2

abc

'abc'

In [32]:
type(s1)
type(s2)

str

In [33]:
i=100
print(type(i))

<class 'int'>

In [34]:
s1 = str(i)
print(s1)
type(s1)

100

str

In [35]:
f1 = float(i)
print(f1)
type(f1)

100.0

float

In [36]:
s = "100"
print(type(s))

<class 'str'>

In [38]:
a1 = int(s)
type(a1)

int

In [39]:
a='12345'
len(a)

5

#Operators

# Operators

# 1.Arithemetic Operators:+,-,*,/,%,//,**
# 2.Logical Operators:and,or,not
# 3.Relational Operators
# 4.Membership Operators

# 1.Arithemetic Operators:
# +-Addition
# --Subtraction
# *-Multiplication
# /-Division
# %-Modular Division
# 
#

In [40]:
n1 = 10
n2 = 20
print(n1+n2)
print(n1-n2)
print(n1/n2)
print(n1*n2)
print(n1%n2)
print(n1//n2)
print(n1**n2)
print(n1>n2)
print(n1<n2)
print(n1<=n2)
print(n1==n2)
print(n1!=n2)

30
-10
0.5
200
10
0
100000000000000000000
False
True
True
False
True

In [41]:
12+5

17

In [42]:
12//5

2

In [43]:
-12/5

-2.4

In [44]:
2**4

16

In [45]:
12*5

60

In [46]:
# Logical Operators
x = 2
y = 3
print(x>=5 and x<10)
print(x>=5 and x<=10)
print(not(x))

False
False
False

In [47]:
# Relational Operators
x = 2
y = 3
print(x==y)
print(x!=y)
print(x<y)
print(x>y)
print(x<=y)
print(x>=y)

False
True
True
False
True
False

In [49]:
# Membership Operators
str1 = "abc"
print('a' in str1)
print('a' not in str1)

True
False

# Conditional Statements
 1.if
 2.if-else
 3.elif

# Syntax: (elif) else part is optional in 
- ifcondition:
   -Statement
- elif
    -Statements
- else
    -Statements

In [53]:
# To check given number is positive or not
a = 10
if a>0:
    print('Positive')

Positive

In [54]:
a = -10
if a>0:
    print('Positive')
else:
    print('Negative')

Negative

In [55]:
a = 0
if a>0:
    print("Positive")
elif a<0:
    print("Negative")
else:
    print("Zero")

Zero

# To check given number is even or odd
# To check given number is mul of 3 & 5
# Check the input is a leap year or not
# Take 3 no. as inputs, and find the biggest number
# Read the character and find whether it is vowel or not